<!-- views/details.ejs -->

<!DOCTYPE html>
<html lang="en">
<%- include('./components/head.ejs')%>
<body>
    <%- include('./components/navbar.ejs')%>

    <div class="details">
        <h2><%= blog.title %></h2>
        <div class="content">
            <p><%= blog.body %></p>
        </div>
        <a href="/blogs/<%= blog._id %>/edit" class="edit" id="editBtn">Edit</a>
        <a class="delete" href="delete" data-doc="<%= blog._id %>">Delete</a>
    </div>
    <%- include('./components/foot.ejs')%>

    <script>
        const editBtn = document.getElementById('editBtn');

        editBtn.addEventListener('click', () => {
            const blogId = editBtn.getAttribute('data-doc');
            window.location.href = `/blogs/${blogId}/edit`;
        });

        const deleteBtn = document.querySelector('a.delete');

        deleteBtn.addEventListener('click', (e) => {
            const endpoint = `/blogs/${e.target.dataset.doc}`;
            fetch(endpoint, {
                method: 'DELETE'
            })
            .then((resp) => resp.json())
            .then((data) => {
                window.location.href = '/blogs';
            })
            .catch(err => console.log(err));
        });
    </script>
</body>
</html>
